* {
  margin-top: 0;
}

.head {
  text-align: center;
  background-color: rgb(33, 73, 23);
  color: white;
  height: 60px;
  font-size: 50px;
  border-bottom: 2px solid black;
  font-family:  'Times New Roman', Times, serif;
}

.userinput {
  height: 25px;
  width: 100%;
  border-radius: 8px;
  border-color: rgb(33, 73, 23);
  font-size: 17px;
  padding-left: 10px;
}

.dltbtn {
  background-color:rgb(33, 73, 23);
  padding: 8px;
  width: 150px;
  color: white;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
  border:2px solid black;
}